<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block metas %}
            <meta name="keywords" content="{{ site.keywords }}" />
            <meta name="description" content="{{ site.description }}" />
            <meta name="generator" content="DrupaiCMS (http://www.drupai.com)" />
            <meta name="rights" content="北海助派网络信息技术有限公司 (http://www.drupai.com)" />
        {% endblock %}
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
