<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {{ render(controller('AppBundle:Default:head')) }}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/animate.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
        <header  class="header fixed-top bg-dark" id="header" role="banner">
            <div class="container">
                {{ render(controller('AppBundle:Default:menu')) }}
            </div>
        </header>
        {% endblock %}
        <div class="content">
        {% block body %}
            {{ render(controller('AppBundle:Default:footer')) }}
        {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
