<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {{ render(controller('AppBundle:Default:head')) }}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets
            'bundles/app/css/bootstrap.min.css'
            'bundles/app/css/animate.css'
            'bundles/app/css/style.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
        <header  class="header bg-light fixed-top" id="header" role="banner">
            <div class="container ">
                {{ render(controller('AppBundle:Default:menu')) }}
            </div>
        </header>
        {% endblock %}

        {% block banner %}{% endblock %}
        {% block body %}
            {{ render(controller('AppBundle:Default:footer')) }}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/jquery-3.3.1.min.js'
            '@AppBundle/Resources/public/js/bootstrap.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
