{% if services %}
<h3>网站建设</h3>
<div class="row">
    {% for service in services %}
    <div class="col-md-4 text-center" style="visibility: visible; -webkit-animation-delay: 0.4s;">
        <img alt="{{ service.siteType }}" class="img-responsive bg-success img-rounded" src="{{ service_image }}/{{ service.sitePic }}" />
        <h4>{{ service.siteType }}</h4>
        <p>{{ service.price }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}