{% if services %}
<h3>网站建设</h3>
<div class="row text-center">
    {% for key, service in services %}
    <div class="col-md-4 wow animated {% if key==0 %}bounceInLeft{% elseif key==1 %}fadeInUpBig{% else %}bounceInRight{% endif %}" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
        <img alt="{{ service.siteType }}" class="img-responsive bg-primary rounded" src="{{ service_image }}/{{ service.sitePic }}" />
        <h4>{{ service.siteType }}</h4>
        <p>{{ service.price }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}