{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/css/swiper.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}
{% block banner %}
    {{ include('default/front/slide.html.twig',{ 'slides': sliders }) }}
{% endblock %}
{% block body %}
    <!-- //网站基本信息显示 -->
    <div class="content">
        <div class="header-bottom py-md-5">
            <div class="container">
            {{  include('default/front/swiper.html.twig', { 'swipers':swipers }) }}
            </div>
        </div>
        <div class="about-section py-md-5">
            <div class="container">
            {% include 'default/front/about_section.html.twig' %}
            </div>
        </div>
        <div class="service-section bg-secondary ">
            <div class="container text-white">
                {% include 'default/front/service_section.html.twig' %}
            </div>
        </div>
        <div class="work-section">
            <div class="container">
               {% include 'default/front/case.html.twig' %}
            </div>
        </div>
        <div class="news-section">
            <div class="container">
                {% include 'default/front/technology.html.twig' %}
            </div>
        </div>
    </div>
{{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}