{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/swiper.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/iconfont.css') }}" />
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- //网站基本信息显示 -->
        {{ include('default/front/slide.html.twig',{ 'slides': sliders }) }}
        <div class="header-bottom">
            <div class="container">
            {{  include('default/front/swiper.html.twig', { 'swipers':swipers }) }}
            </div>
        </div>
        <div class="about-section bg-light py-md-5">
            <div class="container">
            {% include 'default/front/about_section.html.twig' %}
            </div>
        </div>
        <div class="service-section bg-secondary ">
            <div class="container text-white">
                {% include 'default/front/service_section.html.twig' %}
            </div>
        </div>
        <div class="work-section">
            <div class="container">
               {% include 'default/front/case.html.twig' %}
            </div>
        </div>
        <div class="news-section">
            <div class="container">
                {% include 'default/front/technology.html.twig' %}
            </div>
        </div>
{{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/frontend.js') }}"></script>
{% endblock %}