{% extends 'base.html.twig' %}
{% block head %}
    {{ include('default/head.html.twig',{
        'keywords':article.keywords,
        'description': article.description,
        'title' : article.title
    }) }}
{% endblock %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block body %}
    <img src="{{ asset('bundles/app/images/nbanner.jpg') }}" class="img-fluid"/>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for bread in breads %}
                            <li class="breadcrumb-item{% if loop.last %} active" aria-current="page{% endif %}"><a href="{% if loop.first %}{{ path('homepage') }}{% endif %}">{{ bread }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
                {{ article.title }}
                {{ article.summary }}
                {{ article.content|raw }}
            </div>
            {{ render(controller('AppBundle:Default:sidebar')) }}
        </div>
    </div>

    {{ parent() }}
{% endblock %}