<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {{ render(controller('AppBundle:Default:head')) }}
    {% block stylesheets %}
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <button class="btn btn-success">上传图片</button>
    <button class="btn btn-warning" data-toggle="modal" data-target="#modifyModal" data-action="{{ path('mod') }}" >修改名称</button>
    <button class="btn btn-danger" data-action="{{ path('del') }}">删除图片</button>
    <button type="button" class="btn btn-primary" onclick="sure()" >确定选择</button>

    <div class="container">
        <div class="row">
            {% for image in images %}
                <div class="col-md-2">
                    <div class="card">
                        <img src="{{ image.path }}" class="img-thumbnail" title="{{ image.fileName }}" />
                        <div class="card-body">
                            <h4 class="card-title">{{ image.fileName }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="modifyModal" class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="modifyModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modifyModalLabel">修改</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="label" for="name-input">名称</label>
                            <input type="text" class="form-control" name="name-input" id="name-input">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-3.3.1.min.js'
    '@AppBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>



