<div class="header-top">
    <nav class="top-menu">
        <span class="menu"><img src="images/nav.png" alt=""/> </span>
        <ul>
            {% if menus %}{%- for menu in menus -%}
                <li {% if menu.submenu %}class="nav-item dropdown"{% endif %} >
                    <a href="{{ path(menu.0.link, {categories: menu.0.name}) }}" {% if menu.submenu %}class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ menu.0.name }}</a>
                    {% if menu.submenu %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for smenu in menu.submenu -%}
                                <a class="dropdown-item" href="{{ path(smenu.link,{categories: smenu.name}) }}"  title="{{ smenu.name }}">{{ smenu.name }} </a>
                            {% endfor -%}
                        </div>
                    {%- endif -%}
                </li><label>/</label>
            {%- endfor -%}{% endif -%}
        </ul>
    </nav>
    <script>
        $("span.menu").click(function(){
            $(".top-menu ul").slideToggle("slow" , function(){
            });
        });
    </script>
    <div class="search">
        <form>
            <input type="text" value="Search.." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" >
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
{% if swipers is defined %}
    <div class="logo wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
        <a href="index.html">cultivation</a>
    </div>
    <div class="header-bottom container">
        {{  include('default/front/swiper.html.twig', { 'swipers':swipers }) }}
    </div>
{% endif %}
